:root {
    --color-light: #ffffff;
    --color-dark: #000000; 
    --color-pink: #dc143d; 
}

*{
    margin: 0;
}

.container {
width: 100%;
height: 100vh;
background-image: linear-gradient(to top, rgba(0,0,0, .8), rgba(0,0,0, .3)), 
url(../images/pexels-felix-mittermeier-957002.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
gap: 3.5rem;
margin: 0 auto;
align-items: center;
}

.container header {
    color: var(--color-light); 
    font-size: 22px;  
    width: 100%;
}
.container h2 {
    color: var(--color-light);
    text-align: center;
    font-size: 40px;
}
.container h3 {
    color: var(--color-light);   
    text-align: center;
    font-size: 30px;
}
.container a {
color: var(--color-light);
background-color: var(--color-pink); 
text-decoration: none;
border-radius: 30px;
font-size: 18px;
padding: 15px;
text-align: center;
}   