:root{
    --color-ligth: #ffffff;
    --color-dark: #000000;
    --color-pink: #dc143d;
    --font-body:"Poppins", sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

.container{
    width: 100%;
    height: 100vh;                  
    background-image: linear-gradient(to bottom, rgba(0,0,0, .8), rgba(0,0,0, .3)),
    url(../imagens/pexels-felix-mittermeier-957002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.container h1{
    color: var(--color-ligth);
    font-size: 55px;
}

.header-page{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 30px;
}

.header-menu ul{
    display: flex;
    gap: 20px;
}

ul,li{
    list-style: none;
}

h2 {
    color: var(--color-ligth);
    font-weight: 600;
    font-size: 72px;
}

h3 {
    color: var(--color-ligth);
    font-weight: 600;
    font-size: 45px;


}

ul a{
    color:var(--color-ligth);
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    transition: color .5s;
}

ul a:hover {
    color: var(--color-pink)
}

section a {
    color: var(--color-ligth);
    background-color: var(--color-pink);
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    border-radius: 40px;
    padding : 20px 45px
}

section a:hover {
    color: var(--color-pink);
    background-color: var(--color-ligth);
    transition: color 1s;

}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 55px;
    margin-top: 215px;
}





/*
vh = Viewport Height (permite que os elementos da pagina sejam dimensionados de acordo com o tamanho da tela)

rgba (red, green, blue, alfa-opacity)

alfa-opacity = destinado a definir a opacidade em uma faixa de valores decimais de 0 até 1

linear-gradiente = é uma transição entre duas ou mais cores

to botoom (para baixo) = direção do gradiente

root = criar variáveis

background-repeat: no-repeat = para quando tirar o zoom não aparecer imagens repetidas

background-size: cover (cobrir) = informa ao navegador que ele deve se certificar de que a imagem cobrirá sempre o contêiner inteiro

background-position: 50% (meio) define a posição inicial de uma imagem de fundo

*/